<div fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%" fxFlex.xs="70%">
        <input placeholder="Filter" type="text" matInput>
    </mat-form-field>
</div>

<div fxLayout="row wrap" fxLayoutAlign.xs="center center" fxLayout.xs="column">
    <app-book-list-item fxFlex.gt-xs="50%" fxFlex.gt-md="33%">
    </app-book-list-item>
    <app-book-list-item fxFlex.gt-xs="50%" fxFlex.gt-md="33%">
    </app-book-list-item>
    <app-book-list-item fxFlex.gt-xs="50%" fxFlex.gt-md="33%" >
    </app-book-list-item>
    <app-book-list-item fxFlex.gt-xs="50%" fxFlex.gt-md="33%" >
    </app-book-list-item>
    <app-book-list-item fxFlex.gt-xs="50%" fxFlex.gt-md="33%" >
    </app-book-list-item>
</div>

