<div fxLayout="row wrap" fxLayoutAlign.xs="center center" fxLayout.xs="column">
    <app-book-list-item fxFlex.gt-xs="50%" fxFlex.gt-md="33%">
    </app-book-list-item>
    <app-book-list-item fxFlex.gt-xs="50%" fxFlex.gt-md="33%">
    </app-book-list-item>
    <app-book-list-item fxFlex.gt-xs="50%" fxFlex.gt-md="33%" >
    </app-book-list-item>
    <app-book-list-item fxFlex.gt-xs="50%" fxFlex.gt-md="33%" >
    </app-book-list-item>
    <app-book-list-item fxFlex.gt-xs="50%" fxFlex.gt-md="33%" >
    </app-book-list-item>
</div>

