@import "../scss/variables";

button {
  border-radius: 100px;
  font-size: 1.5rem;
}

.wrapper {
  margin: 0 auto;
}
// Logo styles
button[color="link"] {
  padding: 0;
  font-weight: bold;
  font-size: 3rem;
  color: $primary-color;
  span {
    font-weight: 400;
  }
}

mat-icon {
  top: 0.8rem;
  font-size: 2.2rem;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
