@import '../variables';
nav{
  padding: 1.6rem 5.7rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

button{
  border-radius: 100px;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
}
// Logo styles
button[color=link]{
  font-weight: bold;
  font-size: 3rem;
  color:$primary-color;
  span{
    font-weight: 400;
  }
}

button:not(:first-child){
  margin-left: 2rem;
}

