<nav>
  <button id="logo" color="link" mat-button><strong>Book</strong><span>ify</span></button>
  <div *ngIf="!isLogged" class="wrapper">
    <button *ngIf="!isOnAuthPage()" routerLink="/auth/login" color="primary" mat-raised-button>Login</button>
    <button *ngIf="!isOnAuthPage()" routerLink="/auth/register" color="primary" mat-raised-button>Register</button>
  </div>
  <app-search *ngIf="isLogged"></app-search>
  <div *ngIf="isLogged">
    <div class="wrapper">
      <a href="#"><mat-icon
        matBadge="5" 
        matBadgeColor="warn"
        color="primary"
        mat-icon-button>shopping_cart</mat-icon></a>
      <a href="#"><img src="../../../assets/avatar.jpg" alt="Avatar" class="avatar"></a>
    </div>
  </div>
</nav>