<header>
    <nav>
        <app-navigation></app-navigation>
    </nav>
    <h2 class="heading">Welcome to the best bookshop on the internet</h2>
    <div class="picture-heading">
        <h1>You should never stop reading!</h1>
        <img src="../../../assets/andrew-neel-fkalryO4dUI-unsplash 1.png" alt="">
    </div>
</header>
<main>
    <img src="../../../assets/sean-kong-r2WhdAwJPxM-unsplash 1.png" alt="">
    <h1>You think people would like to buy your work</h1>
    <button></button>
</main>
