@import '../../shared/scss/variables';
@import '../../shared/scss/animations';
@import '../../shared/scss/mixins';
main{
    display:flex;
    height: 45rem;
    justify-content: center;
    align-items: center;
    .group{
        text-align: center;
    }
    p{
        font-size: 2rem;
        color: $primary-color;
        margin: 2rem auto;
        width: 20%;
        animation: moveInBottom 1s ease;
    }
    button{
        border-radius: 10rem;
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem 3rem;
        animation: moveInBottom 1s ease;
        backface-visibility: hidden;
        &:hover{
            @include animateHover()
        }
    }
    #author{
        color: $primary-color;
        background-color: #fff;
        border: 1px solid $primary-color;
    }

}

