@import '../../shared/variables';
main{
    display:flex;
    height: 45rem;
    justify-content: center;
    align-items: center;
    .group{
        text-align: center;
    }
    p{
        font-size: 2rem;
        color: $primary-color;
        margin: 2rem auto;
        width: 20%;
        animation: moveInBottom 1s ease;
    }
    button{
        border-radius: 10rem;
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem 3rem;
        animation: moveInBottom 1s ease;
        backface-visibility: hidden;
        &:hover{
            background-color: $primary-color;
            color: #fff;
            box-shadow: 0 1rem 2rem rgba(#000, $alpha: 0.25);
            transform: translateY(-2px);
        }
    }
    #author{
        color: $primary-color;
        background-color: #fff;
        border: 1px solid $primary-color;
    }
    @keyframes moveInBottom {
        0%{
            opacity: 0;
            transform: translateY(3rem);
        }
    
        100%{
            opacity: 1;
            transform: translate(0);
        }
    }
}

