<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <p>Sidenav here</p>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div>
                <div>
                    <button mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
                <div>LOGO</div>
                <div fxFlex fxLayout fxLayoutAlign="flex-end">
                    <a routerLink="/signup">Signup</a>
                    <a routerLink="/login">Login</a>
                    <a routerLink="/books">Books</a>
                    <a ></a>
                </div>
            </div>
        </mat-toolbar>
        <main>
            <router-outlet>
            </router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
