<section>
    <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input
             type="email"
             matInput 
             placeholder="Your email" 
             ngModel 
             name="email"
             #emailInput="ngModel"
             email
             required>
             <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
             <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Should be at least 6 characters long">
            <input
             type="password" 
             matInput 
             placeholder="Your password" 
             ngModel 
             name="password"
             minlength="6"
             required
             #pwInput="ngModel">
             <mat-hint align="end">{{pwInput.value?.length}} / 6</mat-hint>
        </mat-form-field>
        <button [disabled]="f.invalid" type="submit" mat-raised-button color="accent">Login</button>
    </form>
</section>

