<form #loginForm="ngForm" action="">
    <div class="form-group">
        <mat-form-field color="primary" appearance="outline">
            <mat-label>Enter your email</mat-label>
            <input name="email" #emailInput ngModel matInput placeholder="pat@example.com" required>
            <mat-error *ngIf="">Invalid email</mat-error>
        </mat-form-field>
        <mat-form-field color="primary" appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input name="password" placeholder="Enter your password" matInput [type]="hidePass ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
            <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button class="log-btn" mat-raised-button color="primary">Login</button>
    </div>
</form>
