@import '../../shared/scss/variables';
@import '../../shared/scss/mixins';
form{
    min-width: 150px;
    max-width: 500px;
    width: 100%; 
    background-color: $dark-gray;
    border: 2px solid $primary-color;
    border-radius: 10px;
    color: $white;
    padding: 75px;
}
mat-form-field{
    display: block;
    margin-top: 20px;
}
mat-radio-button:nth-child(2){
    margin-left: 10px;
    margin-top: 20px;
}
:host{
    display: flex;
    justify-content: center;
}
.log-btn{
    margin-top: 50px;
    @include global-button();
}